:root {
  --body-bg-color: #eaf1f5;
  --main-bg-color: #fdfdf9;
  --main-btn-color: #327474;
  --sec-btn-color: #0d2020;
  --main-text-color: #0e0e0e;
  --sec-text-color: #eaf1f5;
  --border-color: #94a6ad;
}

html {
  height: 100%;
}

body {
  background-color: var(--body-bg-color);
  font-family: "Raleway", sans-serif;
  color: var(--main-text-color);
  height: 100%;
  margin: 0rem;
}

.main-content {
  margin: 2rem 0.8rem;
  padding: 1rem;
  background-color: var(--main-bg-color);
  height: 100%;
  box-shadow: 0 0 0.5rem 0.1rem rgba(0, 0, 0, 0.096);
}

.page-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.page-header button {
  font-family: "Raleway", sans-serif;
  background: none;
  background-color: var(--main-btn-color);
  border: none;
  cursor: pointer;
  border-radius: 2rem;
  padding: 0.2rem 1rem;
  color: var(--sec-text-color);
  transition: 0.18s ease-in-out;
}

.page-header button:hover {
  background-color: var(--sec-btn-color);
  color: var(--sec-text-color);
}

.page-head {
  font-family: "Bebas Neue", cursive;
  font-size: 2rem;
}

.reg-form {
  margin: 1rem 0rem;
  display: flex;
  flex-direction: column;
}

.reg-form div {
  margin: 0.5rem 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.reg-form div input,
select {
  margin: 0 0 0 0rem;
  width: 100%;
  padding: 0.4rem 0.2rem;
}

.user-data {
  width: 100%;
  text-align: left;
  font-size: 0.8rem;
  border: none;
  border-spacing: 0;
}

.user-data th {
  font-size: 0.7rem;
  padding: 0.5rem 0rem;
  border-bottom: 1px solid var(--border-color);
}

.user-data td {
  margin: 0rem;
  padding: 0.8rem 0rem;
  border-bottom: 1px solid var(--border-color);
}
