<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
    <link
      href="https://fonts.googleapis.com/css?family=Bebas+Neue&display=swap"
      rel="stylesheet"
    />
    <link href="/style.css" rel="stylesheet" />
  </head>
  <body>
    <!-- <h1>All Users</h1>
    <% for(var i=0; i<r.length; i++){%>
     <%=r[i].name%>
     <%=r[i].id%>
     <br>
     <%}%> 
    <button onclick="window.location.href = '/user/register' ">
      Register Here!
    </button> -->
    <div class="page-header">
      <div class="page-head">All Users</div>
      <button onclick="window.location.href = '/user/register' ">
        Add User
      </button>
    </div>
    <% for(var i=0; i<r.length; i++){%>
      <%=r[i].name%>
      <%=r[i].id%>
      <br>
      <%}%> 
  </body>
</html>
